{
  "openapi": "3.0.4",
  "info": {
    "title": "Bitwarden Internal API",
    "version": "2026.7.0"
  },
  "servers": [
    {
      "url": "https://api.bitwarden.com",
      "description": "US server"
    },
    {
      "url": "https://api.bitwarden.eu",
      "description": "EU server"
    },
    {
      "url": "https://api.bitwarden-gov.com",
      "description": "Gov server"
    }
  ],
  "paths": {
    "/organizations/{id}/access-policies/people/potential-grantees": {
      "get": {
        "tags": [
          "AccessPolicies"
        ],
        "operationId": "AccessPolicies_GetPeoplePotentialGrantees",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PotentialGranteeResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PotentialGranteeResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PotentialGranteeResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetPeoplePotentialGrantees",
        "x-action-name-snake-case": "get_people_potential_grantees",
        "x-source-file": "src/Api/SecretsManager/Controllers/AccessPoliciesController.cs",
        "x-source-line": 73
      }
    },
    "/organizations/{id}/access-policies/service-accounts/potential-grantees": {
      "get": {
        "tags": [
          "AccessPolicies"
        ],
        "operationId": "AccessPolicies_GetServiceAccountsPotentialGrantees",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PotentialGranteeResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PotentialGranteeResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PotentialGranteeResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetServiceAccountsPotentialGrantees",
        "x-action-name-snake-case": "get_service_accounts_potential_grantees",
        "x-source-file": "src/Api/SecretsManager/Controllers/AccessPoliciesController.cs",
        "x-source-line": 90
      }
    },
    "/organizations/{id}/access-policies/projects/potential-grantees": {
      "get": {
        "tags": [
          "AccessPolicies"
        ],
        "operationId": "AccessPolicies_GetProjectPotentialGrantees",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PotentialGranteeResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PotentialGranteeResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PotentialGranteeResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetProjectPotentialGrantees",
        "x-action-name-snake-case": "get_project_potential_grantees",
        "x-source-file": "src/Api/SecretsManager/Controllers/AccessPoliciesController.cs",
        "x-source-line": 111
      }
    },
    "/projects/{id}/access-policies/people": {
      "get": {
        "tags": [
          "AccessPolicies"
        ],
        "operationId": "AccessPolicies_GetProjectPeopleAccessPolicies",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPeopleAccessPoliciesResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPeopleAccessPoliciesResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPeopleAccessPoliciesResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetProjectPeopleAccessPolicies",
        "x-action-name-snake-case": "get_project_people_access_policies",
        "x-source-file": "src/Api/SecretsManager/Controllers/AccessPoliciesController.cs",
        "x-source-line": 131
      },
      "put": {
        "tags": [
          "AccessPolicies"
        ],
        "operationId": "AccessPolicies_PutProjectPeopleAccessPolicies",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeopleAccessPoliciesRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PeopleAccessPoliciesRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PeopleAccessPoliciesRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPeopleAccessPoliciesResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPeopleAccessPoliciesResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPeopleAccessPoliciesResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutProjectPeopleAccessPolicies",
        "x-action-name-snake-case": "put_project_people_access_policies",
        "x-source-file": "src/Api/SecretsManager/Controllers/AccessPoliciesController.cs",
        "x-source-line": 141
      }
    },
    "/service-accounts/{id}/access-policies/people": {
      "get": {
        "tags": [
          "AccessPolicies"
        ],
        "operationId": "AccessPolicies_GetServiceAccountPeopleAccessPolicies",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountPeopleAccessPoliciesResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountPeopleAccessPoliciesResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountPeopleAccessPoliciesResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetServiceAccountPeopleAccessPolicies",
        "x-action-name-snake-case": "get_service_account_people_access_policies",
        "x-source-file": "src/Api/SecretsManager/Controllers/AccessPoliciesController.cs",
        "x-source-line": 165
      },
      "put": {
        "tags": [
          "AccessPolicies"
        ],
        "operationId": "AccessPolicies_PutServiceAccountPeopleAccessPolicies",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeopleAccessPoliciesRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PeopleAccessPoliciesRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PeopleAccessPoliciesRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountPeopleAccessPoliciesResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountPeopleAccessPoliciesResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountPeopleAccessPoliciesResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutServiceAccountPeopleAccessPolicies",
        "x-action-name-snake-case": "put_service_account_people_access_policies",
        "x-source-file": "src/Api/SecretsManager/Controllers/AccessPoliciesController.cs",
        "x-source-line": 176
      }
    },
    "/service-accounts/{id}/granted-policies": {
      "get": {
        "tags": [
          "AccessPolicies"
        ],
        "operationId": "AccessPolicies_GetServiceAccountGrantedPolicies",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountGrantedPoliciesPermissionDetailsResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountGrantedPoliciesPermissionDetailsResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountGrantedPoliciesPermissionDetailsResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetServiceAccountGrantedPolicies",
        "x-action-name-snake-case": "get_service_account_granted_policies",
        "x-source-file": "src/Api/SecretsManager/Controllers/AccessPoliciesController.cs",
        "x-source-line": 202
      },
      "put": {
        "tags": [
          "AccessPolicies"
        ],
        "operationId": "AccessPolicies_PutServiceAccountGrantedPolicies",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountGrantedPoliciesRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountGrantedPoliciesRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountGrantedPoliciesRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountGrantedPoliciesPermissionDetailsResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountGrantedPoliciesPermissionDetailsResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountGrantedPoliciesPermissionDetailsResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutServiceAccountGrantedPolicies",
        "x-action-name-snake-case": "put_service_account_granted_policies",
        "x-source-file": "src/Api/SecretsManager/Controllers/AccessPoliciesController.cs",
        "x-source-line": 220
      }
    },
    "/projects/{id}/access-policies/service-accounts": {
      "get": {
        "tags": [
          "AccessPolicies"
        ],
        "operationId": "AccessPolicies_GetProjectServiceAccountsAccessPolicies",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectServiceAccountsAccessPoliciesResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectServiceAccountsAccessPoliciesResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectServiceAccountsAccessPoliciesResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetProjectServiceAccountsAccessPolicies",
        "x-action-name-snake-case": "get_project_service_accounts_access_policies",
        "x-source-file": "src/Api/SecretsManager/Controllers/AccessPoliciesController.cs",
        "x-source-line": 240
      },
      "put": {
        "tags": [
          "AccessPolicies"
        ],
        "operationId": "AccessPolicies_PutProjectServiceAccountsAccessPolicies",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectServiceAccountsAccessPoliciesRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectServiceAccountsAccessPoliciesRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectServiceAccountsAccessPoliciesRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectServiceAccountsAccessPoliciesResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectServiceAccountsAccessPoliciesResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectServiceAccountsAccessPoliciesResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutProjectServiceAccountsAccessPolicies",
        "x-action-name-snake-case": "put_project_service_accounts_access_policies",
        "x-source-file": "src/Api/SecretsManager/Controllers/AccessPoliciesController.cs",
        "x-source-line": 252
      }
    },
    "/secrets/{secretId}/access-policies": {
      "get": {
        "tags": [
          "AccessPolicies"
        ],
        "operationId": "AccessPolicies_GetSecretAccessPolicies",
        "parameters": [
          {
            "name": "secretId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SecretAccessPoliciesResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretAccessPoliciesResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretAccessPoliciesResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetSecretAccessPolicies",
        "x-action-name-snake-case": "get_secret_access_policies",
        "x-source-file": "src/Api/SecretsManager/Controllers/AccessPoliciesController.cs",
        "x-source-line": 273
      }
    },
    "/access-requests/inbox": {
      "get": {
        "tags": [
          "AccessRequests"
        ],
        "operationId": "Pam_AccessRequests_GetInbox",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequestDetailsResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetInbox",
        "x-action-name-snake-case": "get_inbox",
        "x-source-file": "bitwarden_license/src/Services/Pam/Api/Endpoints/AccessRequestEndpoints.cs",
        "x-source-line": 17
      }
    },
    "/access-requests/history": {
      "get": {
        "tags": [
          "AccessRequests"
        ],
        "operationId": "Pam_AccessRequests_GetHistory",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequestDetailsResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetHistory",
        "x-action-name-snake-case": "get_history",
        "x-source-file": "bitwarden_license/src/Services/Pam/Api/Endpoints/AccessRequestEndpoints.cs",
        "x-source-line": 20
      }
    },
    "/access-requests/mine": {
      "get": {
        "tags": [
          "AccessRequests"
        ],
        "operationId": "Pam_AccessRequests_GetMine",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequestDetailsResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetMine",
        "x-action-name-snake-case": "get_mine",
        "x-source-file": "bitwarden_license/src/Services/Pam/Api/Endpoints/AccessRequestEndpoints.cs",
        "x-source-line": 23
      }
    },
    "/access-requests/{id}": {
      "get": {
        "tags": [
          "AccessRequests"
        ],
        "operationId": "Pam_AccessRequests_GetDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequestDetailsResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetDetails",
        "x-action-name-snake-case": "get_details",
        "x-source-file": "bitwarden_license/src/Services/Pam/Api/Endpoints/AccessRequestEndpoints.cs",
        "x-source-line": 27
      }
    },
    "/access-requests/{id}/decision": {
      "post": {
        "tags": [
          "AccessRequests"
        ],
        "operationId": "Pam_AccessRequests_Decide",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessDecisionRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequestDetailsResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "Decide",
        "x-action-name-snake-case": "decide",
        "x-source-file": "bitwarden_license/src/Services/Pam/Api/Endpoints/AccessRequestEndpoints.cs",
        "x-source-line": 32
      }
    },
    "/access-requests/{id}/activate": {
      "post": {
        "tags": [
          "AccessRequests"
        ],
        "operationId": "Pam_AccessRequests_Activate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessLeaseResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "Activate",
        "x-action-name-snake-case": "activate",
        "x-source-file": "bitwarden_license/src/Services/Pam/Api/Endpoints/AccessRequestEndpoints.cs",
        "x-source-line": 36
      }
    },
    "/access-requests/{id}/revoke": {
      "post": {
        "tags": [
          "AccessRequests"
        ],
        "operationId": "Pam_AccessRequests_Revoke",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "x-action-name": "Revoke",
        "x-action-name-snake-case": "revoke",
        "x-source-file": "bitwarden_license/src/Services/Pam/Api/Endpoints/AccessRequestEndpoints.cs",
        "x-source-line": 42
      }
    },
    "/organizations/{orgId}/access-rules": {
      "get": {
        "tags": [
          "AccessRules"
        ],
        "operationId": "Pam_AccessRules_GetAll",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRuleResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetAll",
        "x-action-name-snake-case": "get_all",
        "x-source-file": "bitwarden_license/src/Services/Pam/Api/Endpoints/AccessRuleEndpoints.cs",
        "x-source-line": 16
      },
      "post": {
        "tags": [
          "AccessRules"
        ],
        "operationId": "Pam_AccessRules_Post",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessRuleRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRuleResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "Post",
        "x-action-name-snake-case": "post",
        "x-source-file": "bitwarden_license/src/Services/Pam/Api/Endpoints/AccessRuleEndpoints.cs",
        "x-source-line": 22
      }
    },
    "/organizations/{orgId}/access-rules/{id}": {
      "get": {
        "tags": [
          "AccessRules"
        ],
        "operationId": "Pam_AccessRules_Get",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRuleResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "Get",
        "x-action-name-snake-case": "get",
        "x-source-file": "bitwarden_license/src/Services/Pam/Api/Endpoints/AccessRuleEndpoints.cs",
        "x-source-line": 19
      },
      "put": {
        "tags": [
          "AccessRules"
        ],
        "operationId": "Pam_AccessRules_Put",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessRuleRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRuleResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "Put",
        "x-action-name-snake-case": "put",
        "x-source-file": "bitwarden_license/src/Services/Pam/Api/Endpoints/AccessRuleEndpoints.cs",
        "x-source-line": 25
      },
      "delete": {
        "tags": [
          "AccessRules"
        ],
        "operationId": "Pam_AccessRules_Delete",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "x-action-name": "Delete",
        "x-action-name-snake-case": "delete",
        "x-source-file": "bitwarden_license/src/Services/Pam/Api/Endpoints/AccessRuleEndpoints.cs",
        "x-source-line": 31
      }
    },
    "/account/billing/vnext/credit": {
      "get": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_GetCredit",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "GetCredit",
        "x-action-name-snake-case": "get_credit",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 48
      }
    },
    "/account/billing/vnext/premium/checkout": {
      "post": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_CreatePremiumCheckoutSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePremiumCheckoutSessionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePremiumCheckoutSessionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePremiumCheckoutSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "CreatePremiumCheckoutSession",
        "x-action-name-snake-case": "create_premium_checkout_session",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 58
      }
    },
    "/account/billing/vnext/credit/bitpay": {
      "post": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_AddCreditViaBitPay",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BitPayCreditRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BitPayCreditRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BitPayCreditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "AddCreditViaBitPay",
        "x-action-name-snake-case": "add_credit_via_bit_pay",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 74
      }
    },
    "/account/billing/vnext/payment-method": {
      "get": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_GetPaymentMethod",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "GetPaymentMethod",
        "x-action-name-snake-case": "get_payment_method",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 86
      },
      "put": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_UpdatePaymentMethod",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenizedPaymentMethodRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenizedPaymentMethodRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TokenizedPaymentMethodRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "UpdatePaymentMethod",
        "x-action-name-snake-case": "update_payment_method",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 96
      }
    },
    "/account/billing/vnext/subscription": {
      "post": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_CreateSubscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PremiumCloudHostedSubscriptionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PremiumCloudHostedSubscriptionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PremiumCloudHostedSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "CreateSubscription",
        "x-action-name-snake-case": "create_subscription",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 107
      },
      "get": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_GetSubscription",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "GetSubscription",
        "x-action-name-snake-case": "get_subscription",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 126
      }
    },
    "/account/billing/vnext/license": {
      "get": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_GetLicense",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "GetLicense",
        "x-action-name-snake-case": "get_license",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 117
      }
    },
    "/account/billing/vnext/subscription/reinstate": {
      "post": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_ReinstateSubscription",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "ReinstateSubscription",
        "x-action-name-snake-case": "reinstate_subscription",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 135
      }
    },
    "/account/billing/vnext/subscription/storage": {
      "put": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_UpdateSubscriptionStorage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/StorageUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "UpdateSubscriptionStorage",
        "x-action-name-snake-case": "update_subscription_storage",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 145
      }
    },
    "/account/billing/vnext/upgrade": {
      "post": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_UpgradePremiumToOrganization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpgradePremiumToOrganizationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpgradePremiumToOrganizationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpgradePremiumToOrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "UpgradePremiumToOrganization",
        "x-action-name-snake-case": "upgrade_premium_to_organization",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 155
      }
    },
    "/account/billing/vnext/discounts": {
      "get": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_GetApplicableDiscounts",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "GetApplicableDiscounts",
        "x-action-name-snake-case": "get_applicable_discounts",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 166
      }
    },
    "/account/billing/vnext/portal-session": {
      "post": {
        "tags": [
          "AccountBillingVNext"
        ],
        "operationId": "AccountBillingVNext_CreatePortalSession",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "CreatePortalSession",
        "x-action-name-snake-case": "create_portal_session",
        "x-source-file": "src/Api/Billing/Controllers/VNext/AccountBillingVNextController.cs",
        "x-source-line": 174
      }
    },
    "/accounts/subscription": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_GetSubscription",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetSubscription",
        "x-action-name-snake-case": "get_subscription",
        "x-source-file": "src/Api/Billing/Controllers/AccountsController.cs",
        "x-source-line": 24
      }
    },
    "/accounts/license": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostLicense",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "license"
                ],
                "type": "object",
                "properties": {
                  "license": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "license": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostLicense",
        "x-action-name-snake-case": "post_license",
        "x-source-file": "src/Api/Billing/Controllers/AccountsController.cs",
        "x-source-line": 42
      }
    },
    "/accounts/cancel": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostCancel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionCancellationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionCancellationRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionCancellationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostCancel",
        "x-action-name-snake-case": "post_cancel",
        "x-source-file": "src/Api/Billing/Controllers/AccountsController.cs",
        "x-source-line": 63
      }
    },
    "/accounts/password-hint": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostPasswordHint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordHintRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordHintRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordHintRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostPasswordHint",
        "x-action-name-snake-case": "post_password_hint",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 110
      }
    },
    "/accounts/email-token": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostEmailToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTokenRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTokenRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTokenRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostEmailToken",
        "x-action-name-snake-case": "post_email_token",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 116
      }
    },
    "/accounts/email": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostEmail",
        "x-action-name-snake-case": "post_email",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 156
      }
    },
    "/accounts/verify-email": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostVerifyEmail",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostVerifyEmail",
        "x-action-name-snake-case": "post_verify_email",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 204
      }
    },
    "/accounts/verify-email-token": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostVerifyEmailToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostVerifyEmailToken",
        "x-action-name-snake-case": "post_verify_email_token",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 217
      }
    },
    "/accounts/password": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostPassword",
        "x-action-name-snake-case": "post_password",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 240
      }
    },
    "/accounts/set-password": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostSetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetInitialPasswordRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SetInitialPasswordRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SetInitialPasswordRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostSetPassword",
        "x-action-name-snake-case": "post_set_password",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 279
      }
    },
    "/accounts/verify-password": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostVerifyPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MasterPasswordPolicyResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterPasswordPolicyResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterPasswordPolicyResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PostVerifyPassword",
        "x-action-name-snake-case": "post_verify_password",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 332
      }
    },
    "/accounts/kdf": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostKdf",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeKdfRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeKdfRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeKdfRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostKdf",
        "x-action-name-snake-case": "post_kdf",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 353
      }
    },
    "/accounts/security-stamp": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostSecurityStamp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostSecurityStamp",
        "x-action-name-snake-case": "post_security_stamp",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 377
      }
    },
    "/accounts/profile": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_GetProfile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetProfile",
        "x-action-name-snake-case": "get_profile",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 401
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PutProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutProfile",
        "x-action-name-snake-case": "put_profile",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 448
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-action-name": "PostProfile",
        "x-action-name-snake-case": "post_profile",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 469
      }
    },
    "/accounts/organizations": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_GetOrganizations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileOrganizationResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileOrganizationResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileOrganizationResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetOrganizations",
        "x-action-name-snake-case": "get_organizations",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 436
      }
    },
    "/accounts/avatar": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PutAvatar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAvatarRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAvatarRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAvatarRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutAvatar",
        "x-action-name-snake-case": "put_avatar",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 475
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostAvatar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAvatarRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAvatarRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAvatarRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-action-name": "PostAvatar",
        "x-action-name-snake-case": "post_avatar",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 495
      }
    },
    "/accounts/revision-date": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_GetAccountRevisionDate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "nullable": true
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "nullable": true
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "nullable": true
                }
              }
            }
          }
        },
        "x-action-name": "GetAccountRevisionDate",
        "x-action-name-snake-case": "get_account_revision_date",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 501
      }
    },
    "/accounts/keys": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeysRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeysRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeysRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KeysResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeysResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeysResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PostKeys",
        "x-action-name-snake-case": "post_keys",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 515
      },
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_GetKeys",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KeysResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeysResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeysResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetKeys",
        "x-action-name-snake-case": "get_keys",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 556
      }
    },
    "/accounts": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_Delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "Delete",
        "x-action-name-snake-case": "delete",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 569
      }
    },
    "/accounts/delete": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostDelete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true,
        "x-action-name": "PostDelete",
        "x-action-name-snake-case": "post_delete",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 607
      }
    },
    "/accounts/delete-recover": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostDeleteRecover",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRecoverRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRecoverRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRecoverRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostDeleteRecover",
        "x-action-name-snake-case": "post_delete_recover",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 614
      }
    },
    "/accounts/delete-recover-token": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostDeleteRecoverToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyDeleteRecoverRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyDeleteRecoverRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyDeleteRecoverRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostDeleteRecoverToken",
        "x-action-name-snake-case": "post_delete_recover_token",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 621
      }
    },
    "/accounts/sso/{organizationId}": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_DeleteSsoUser",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "DeleteSsoUser",
        "x-action-name-snake-case": "delete_sso_user",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 645
      }
    },
    "/accounts/sso/user-identifier": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_GetSsoUserIdentifier",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-action-name": "GetSsoUserIdentifier",
        "x-action-name-snake-case": "get_sso_user_identifier",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 657
      }
    },
    "/accounts/api-key": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_ApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "ApiKey",
        "x-action-name-snake-case": "api_key",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 666
      }
    },
    "/accounts/rotate-api-key": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_RotateApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "RotateApiKey",
        "x-action-name-snake-case": "rotate_api_key",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 684
      }
    },
    "/accounts/update-temp-password": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PutUpdateTempPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTempPasswordRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTempPasswordRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTempPasswordRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PutUpdateTempPassword",
        "x-action-name-snake-case": "put_update_temp_password",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 715
      }
    },
    "/accounts/update-tde-offboarding-password": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PutUpdateTdePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTdeOffboardingPasswordRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTdeOffboardingPasswordRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTdeOffboardingPasswordRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PutUpdateTdePassword",
        "x-action-name-snake-case": "put_update_tde_password",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 755
      }
    },
    "/accounts/request-otp": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostRequestOTP",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostRequestOTP",
        "x-action-name-snake-case": "post_request_otp",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 795
      }
    },
    "/accounts/verify-otp": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_VerifyOTP",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOTPRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOTPRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOTPRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "VerifyOTP",
        "x-action-name-snake-case": "verify_otp",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 803
      }
    },
    "/accounts/resend-new-device-otp": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_ResendNewDeviceOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnauthenticatedSecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UnauthenticatedSecretVerificationRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UnauthenticatedSecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "ResendNewDeviceOtp",
        "x-action-name-snake-case": "resend_new_device_otp",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 816
      }
    },
    "/accounts/verify-devices": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_SetUserVerifyDevices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetVerifyDevicesRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SetVerifyDevicesRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SetVerifyDevicesRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "SetUserVerifyDevices",
        "x-action-name-snake-case": "set_user_verify_devices",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 829
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostSetUserVerifyDevices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetVerifyDevicesRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SetVerifyDevicesRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SetVerifyDevicesRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true,
        "x-action-name": "PostSetUserVerifyDevices",
        "x-action-name-snake-case": "post_set_user_verify_devices",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 845
      }
    },
    "/accounts/billing/history": {
      "get": {
        "tags": [
          "AccountsBilling"
        ],
        "operationId": "AccountsBilling_GetBillingHistory",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillingHistoryResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingHistoryResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingHistoryResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetBillingHistory",
        "x-action-name-snake-case": "get_billing_history",
        "x-source-file": "src/Api/Billing/Controllers/AccountsBillingController.cs",
        "x-source-line": 22
      }
    },
    "/accounts/billing/invoices": {
      "get": {
        "tags": [
          "AccountsBilling"
        ],
        "operationId": "AccountsBilling_GetInvoices",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAfter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "GetInvoices",
        "x-action-name-snake-case": "get_invoices",
        "x-source-file": "src/Api/Billing/Controllers/AccountsBillingController.cs",
        "x-source-line": 36
      }
    },
    "/accounts/billing/transactions": {
      "get": {
        "tags": [
          "AccountsBilling"
        ],
        "operationId": "AccountsBilling_GetTransactions",
        "parameters": [
          {
            "name": "startAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "GetTransactions",
        "x-action-name-snake-case": "get_transactions",
        "x-source-file": "src/Api/Billing/Controllers/AccountsBillingController.cs",
        "x-source-line": 55
      }
    },
    "/accounts/key-management/regenerate-keys": {
      "post": {
        "tags": [
          "AccountsKeyManagement"
        ],
        "operationId": "AccountsKeyManagement_RegenerateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRegenerationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRegenerationRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRegenerationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "RegenerateKeys",
        "x-action-name-snake-case": "regenerate_keys",
        "x-source-file": "src/Api/KeyManagement/Controllers/AccountsKeyManagementController.cs",
        "x-source-line": 95
      }
    },
    "/accounts/key-management/rotate-user-account-keys": {
      "post": {
        "tags": [
          "AccountsKeyManagement"
        ],
        "operationId": "AccountsKeyManagement_PasswordChangeAndRotateUserAccountKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateUserAccountKeysAndDataRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateUserAccountKeysAndDataRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RotateUserAccountKeysAndDataRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PasswordChangeAndRotateUserAccountKeys",
        "x-action-name-snake-case": "password_change_and_rotate_user_account_keys",
        "x-source-file": "src/Api/KeyManagement/Controllers/AccountsKeyManagementController.cs",
        "x-source-line": 106
      }
    },
    "/accounts/key-management/rotate-user-keys": {
      "post": {
        "tags": [
          "AccountsKeyManagement"
        ],
        "operationId": "AccountsKeyManagement_RotateUserKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateUserKeysRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateUserKeysRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RotateUserKeysRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "RotateUserKeys",
        "x-action-name-snake-case": "rotate_user_keys",
        "x-source-file": "src/Api/KeyManagement/Controllers/AccountsKeyManagementController.cs",
        "x-source-line": 154
      }
    },
    "/accounts/set-key-connector-key": {
      "post": {
        "tags": [
          "AccountsKeyManagement"
        ],
        "operationId": "AccountsKeyManagement_PostSetKeyConnectorKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetKeyConnectorKeyRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SetKeyConnectorKeyRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SetKeyConnectorKeyRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostSetKeyConnectorKey",
        "x-action-name-snake-case": "post_set_key_connector_key",
        "x-source-file": "src/Api/KeyManagement/Controllers/AccountsKeyManagementController.cs",
        "x-source-line": 190
      }
    },
    "/accounts/convert-to-key-connector": {
      "post": {
        "tags": [
          "AccountsKeyManagement"
        ],
        "operationId": "AccountsKeyManagement_PostConvertToKeyConnector",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostConvertToKeyConnector",
        "x-action-name-snake-case": "post_convert_to_key_connector",
        "x-source-file": "src/Api/KeyManagement/Controllers/AccountsKeyManagementController.cs",
        "x-source-line": 223
      }
    },
    "/accounts/key-connector/enroll": {
      "post": {
        "tags": [
          "AccountsKeyManagement"
        ],
        "operationId": "AccountsKeyManagement_PostEnrollToKeyConnector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyConnectorEnrollmentRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyConnectorEnrollmentRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyConnectorEnrollmentRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostEnrollToKeyConnector",
        "x-action-name-snake-case": "post_enroll_to_key_connector",
        "x-source-file": "src/Api/KeyManagement/Controllers/AccountsKeyManagementController.cs",
        "x-source-line": 235
      }
    },
    "/accounts/key-connector/confirmation-details/{orgSsoIdentifier}": {
      "get": {
        "tags": [
          "AccountsKeyManagement"
        ],
        "operationId": "AccountsKeyManagement_GetKeyConnectorConfirmationDetails",
        "parameters": [
          {
            "name": "orgSsoIdentifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KeyConnectorConfirmationDetailsResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyConnectorConfirmationDetailsResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyConnectorConfirmationDetailsResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetKeyConnectorConfirmationDetails",
        "x-action-name-snake-case": "get_key_connector_confirmation_details",
        "x-source-file": "src/Api/KeyManagement/Controllers/AccountsKeyManagementController.cs",
        "x-source-line": 247
      }
    },
    "/accounts/key-management/key-rotation-data": {
      "get": {
        "tags": [
          "AccountsKeyManagement"
        ],
        "operationId": "AccountsKeyManagement_GetKeyRotationData",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KeyRotationDataResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyRotationDataResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyRotationDataResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetKeyRotationData",
        "x-action-name-snake-case": "get_key_rotation_data",
[...]
