{
  "openapi": "3.0.4",
  "info": {
    "title": "Vaultwarden Vault 1.37.2 (API 2026.6.0)",
    "version": "1.37.2"
  },
  "servers": [
    {
      "url": "https://api.bitwarden.com",
      "description": "US server"
    },
    {
      "url": "https://api.bitwarden.eu",
      "description": "EU server"
    }
  ],
  "paths": {
    "/accounts/password-hint": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostPasswordHint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordHintRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordHintRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/PasswordHintRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostPasswordHint",
        "x-action-name-snake-case": "post_password_hint",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 106
      }
    },
    "/accounts/email-token": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostEmailToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTokenRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTokenRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/EmailTokenRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostEmailToken",
        "x-action-name-snake-case": "post_email_token",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 112
      }
    },
    "/accounts/email": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostEmail",
        "x-action-name-snake-case": "post_email",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 142
      }
    },
    "/accounts/verify-email": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostVerifyEmail",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostVerifyEmail",
        "x-action-name-snake-case": "post_verify_email",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 172
      }
    },
    "/accounts/verify-email-token": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostVerifyEmailToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostVerifyEmailToken",
        "x-action-name-snake-case": "post_verify_email_token",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 185
      }
    },
    "/accounts/password": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/PasswordRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostPassword",
        "x-action-name-snake-case": "post_password",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 208
      }
    },
    "/accounts/set-password": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostSetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetInitialPasswordRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SetInitialPasswordRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/SetInitialPasswordRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostSetPassword",
        "x-action-name-snake-case": "post_set_password",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 247
      }
    },
    "/accounts/verify-password": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostVerifyPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MasterPasswordPolicyResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterPasswordPolicyResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterPasswordPolicyResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PostVerifyPassword",
        "x-action-name-snake-case": "post_verify_password",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 300
      }
    },
    "/accounts/kdf": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostKdf",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeKdfRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeKdfRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ChangeKdfRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostKdf",
        "x-action-name-snake-case": "post_kdf",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 321
      }
    },
    "/accounts/security-stamp": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostSecurityStamp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostSecurityStamp",
        "x-action-name-snake-case": "post_security_stamp",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 350
      }
    },
    "/accounts/profile": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_GetProfile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetProfile",
        "x-action-name-snake-case": "get_profile",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 374
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PutProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutProfile",
        "x-action-name-snake-case": "put_profile",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 421
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-action-name": "PostProfile",
        "x-action-name-snake-case": "post_profile",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 442
      }
    },
    "/accounts/avatar": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PutAvatar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAvatarRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAvatarRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAvatarRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutAvatar",
        "x-action-name-snake-case": "put_avatar",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 448
      }
    },
    "/accounts/revision-date": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_GetAccountRevisionDate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "nullable": true
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "nullable": true
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "nullable": true
                }
              }
            }
          }
        },
        "x-action-name": "GetAccountRevisionDate",
        "x-action-name-snake-case": "get_account_revision_date",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 474
      }
    },
    "/accounts/keys": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeysRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeysRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/KeysRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KeysResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeysResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeysResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PostKeys",
        "x-action-name-snake-case": "post_keys",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 488
      }
    },
    "/accounts": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_Delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "Delete",
        "x-action-name-snake-case": "delete",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 542
      }
    },
    "/accounts/delete": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostDelete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true,
        "x-action-name": "PostDelete",
        "x-action-name-snake-case": "post_delete",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 580
      }
    },
    "/accounts/delete-recover": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostDeleteRecover",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRecoverRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRecoverRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRecoverRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostDeleteRecover",
        "x-action-name-snake-case": "post_delete_recover",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 587
      }
    },
    "/accounts/delete-recover-token": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostDeleteRecoverToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyDeleteRecoverRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyDeleteRecoverRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/VerifyDeleteRecoverRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostDeleteRecoverToken",
        "x-action-name-snake-case": "post_delete_recover_token",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 594
      }
    },
    "/accounts/api-key": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_ApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "ApiKey",
        "x-action-name-snake-case": "api_key",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 639
      }
    },
    "/accounts/rotate-api-key": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_RotateApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "RotateApiKey",
        "x-action-name-snake-case": "rotate_api_key",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 657
      }
    },
    "/accounts/request-otp": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_PostRequestOTP",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostRequestOTP",
        "x-action-name-snake-case": "post_request_otp",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 768
      }
    },
    "/accounts/verify-otp": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_VerifyOTP",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOTPRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOTPRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOTPRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "VerifyOTP",
        "x-action-name-snake-case": "verify_otp",
        "x-source-file": "src/Api/Auth/Controllers/AccountsController.cs",
        "x-source-line": 776
      }
    },
    "/accounts/key-management/rotate-user-account-keys": {
      "post": {
        "tags": [
          "AccountsKeyManagement"
        ],
        "operationId": "AccountsKeyManagement_PasswordChangeAndRotateUserAccountKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateUserAccountKeysAndDataRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateUserAccountKeysAndDataRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/RotateUserAccountKeysAndDataRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PasswordChangeAndRotateUserAccountKeys",
        "x-action-name-snake-case": "password_change_and_rotate_user_account_keys",
        "x-source-file": "src/Api/KeyManagement/Controllers/AccountsKeyManagementController.cs",
        "x-source-line": 99
      }
    },
    "/auth-requests": {
      "get": {
        "tags": [
          "AuthRequests"
        ],
        "operationId": "AuthRequests_GetAll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetAll",
        "x-action-name-snake-case": "get_all",
        "x-source-file": "src/Api/Auth/Controllers/AuthRequestsController.cs",
        "x-source-line": 35
      },
      "post": {
        "tags": [
          "AuthRequests"
        ],
        "operationId": "AuthRequests_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequestCreateRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequestCreateRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequestCreateRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "Post",
        "x-action-name-snake-case": "post",
        "x-source-file": "src/Api/Auth/Controllers/AuthRequestsController.cs",
        "x-source-line": 82
      }
    },
    "/auth-requests/{id}": {
      "get": {
        "tags": [
          "AuthRequests"
        ],
        "operationId": "AuthRequests_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "Get",
        "x-action-name-snake-case": "get",
        "x-source-file": "src/Api/Auth/Controllers/AuthRequestsController.cs",
        "x-source-line": 44
      },
      "put": {
        "tags": [
          "AuthRequests"
        ],
        "operationId": "AuthRequests_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequestUpdateRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequestUpdateRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequestUpdateRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "Put",
        "x-action-name-snake-case": "put",
        "x-source-file": "src/Api/Auth/Controllers/AuthRequestsController.cs",
        "x-source-line": 107
      }
    },
    "/auth-requests/pending": {
      "get": {
        "tags": [
          "AuthRequests"
        ],
        "operationId": "AuthRequests_GetPendingAuthRequests",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PendingAuthRequestResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingAuthRequestResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingAuthRequestResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetPendingAuthRequests",
        "x-action-name-snake-case": "get_pending_auth_requests",
        "x-source-file": "src/Api/Auth/Controllers/AuthRequestsController.cs",
        "x-source-line": 58
      }
    },
    "/auth-requests/{id}/response": {
      "get": {
        "tags": [
          "AuthRequests"
        ],
        "operationId": "AuthRequests_GetResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetResponse",
        "x-action-name-snake-case": "get_response",
        "x-source-file": "src/Api/Auth/Controllers/AuthRequestsController.cs",
        "x-source-line": 68
      }
    },
    "/ciphers/{id}": {
      "get": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "Get",
        "x-action-name-snake-case": "get",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 88
      },
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "Put",
        "x-action-name-snake-case": "put",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 245
      },
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostPut",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-action-name": "PostPut",
        "x-action-name-snake-case": "post_put",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 283
      },
      "delete": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "Delete",
        "x-action-name-snake-case": "delete",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 928
      }
    },
    "/ciphers/{id}/admin": {
      "get": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_GetAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetAdmin",
        "x-action-name-snake-case": "get_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 103
      },
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutAdmin",
        "x-action-name-snake-case": "put_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 289
      },
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostPutAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-action-name": "PostPutAdmin",
        "x-action-name-snake-case": "post_put_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 323
      },
      "delete": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_DeleteAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "DeleteAdmin",
        "x-action-name-snake-case": "delete_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 948
      }
    },
    "/ciphers/{id}/details": {
      "get": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_GetDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherDetailsResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherDetailsResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherDetailsResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetDetails",
        "x-action-name-snake-case": "get_details",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 119
      }
    },
    "/ciphers": {
      "get": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_GetAll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherDetailsResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherDetailsResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherDetailsResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetAll",
        "x-action-name-snake-case": "get_all",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 141
      },
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "Post",
        "x-action-name-snake-case": "post",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 165
      },
      "delete": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_DeleteMany",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "DeleteMany",
        "x-action-name-snake-case": "delete_many",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 969
      }
    },
    "/ciphers/create": {
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCreateRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCreateRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherCreateRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PostCreate",
        "x-action-name-snake-case": "post_create",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 191
      }
    },
    "/ciphers/admin": {
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCreateRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCreateRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherCreateRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PostAdmin",
        "x-action-name-snake-case": "post_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 216
      },
      "delete": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_DeleteManyAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "DeleteManyAdmin",
        "x-action-name-snake-case": "delete_many_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 989
      }
    },
    "/ciphers/organization-details": {
      "get": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_GetOrganizationCiphers",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includeMemberItems",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniDetailsResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniDetailsResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniDetailsResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "GetOrganizationCiphers",
        "x-action-name-snake-case": "get_organization_ciphers",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 329
      }
    },
    "/ciphers/{id}/partial": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutPartial",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherPartialRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherPartialRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherPartialRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutPartial",
        "x-action-name-snake-case": "put_partial",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 701
      },
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostPartial",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherPartialRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherPartialRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherPartialRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-action-name": "PostPartial",
        "x-action-name-snake-case": "post_partial",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 720
      }
    },
    "/ciphers/{id}/share": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutShare",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherShareRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherShareRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherShareRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutShare",
        "x-action-name-snake-case": "put_share",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 726
      },
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostShare",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherShareRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherShareRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherShareRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-action-name": "PostShare",
        "x-action-name-snake-case": "post_share",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 759
      }
    },
    "/ciphers/{id}/collections": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutCollections",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherDetailsResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherDetailsResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherDetailsResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutCollections",
        "x-action-name-snake-case": "put_collections",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 765
      },
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostCollections",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherDetailsResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherDetailsResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherDetailsResponseModel"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-action-name": "PostCollections",
        "x-action-name-snake-case": "post_collections",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 786
      }
    },
    "/ciphers/{id}/collections_v2": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutCollections_vNext",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OptionalCipherDetailsResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionalCipherDetailsResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionalCipherDetailsResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutCollections_vNext",
        "x-action-name-snake-case": "put_collections_v_next",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 792
      },
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostCollections_vNext",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OptionalCipherDetailsResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionalCipherDetailsResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionalCipherDetailsResponseModel"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-action-name": "PostCollections_vNext",
        "x-action-name-snake-case": "post_collections_v_next",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 821
      }
    },
    "/ciphers/{id}/collections-admin": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutCollectionsAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniDetailsResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniDetailsResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniDetailsResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutCollectionsAdmin",
        "x-action-name-snake-case": "put_collections_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 827
      },
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostCollectionsAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherCollectionsRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniDetailsResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniDetailsResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniDetailsResponseModel"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-action-name": "PostCollectionsAdmin",
        "x-action-name-snake-case": "post_collections_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 857
      }
    },
    "/ciphers/bulk-collections": {
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostBulkCollections",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkUpdateCollectionsRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkUpdateCollectionsRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkUpdateCollectionsRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostBulkCollections",
        "x-action-name-snake-case": "post_bulk_collections",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 863
      }
    },
    "/ciphers/{id}/archive": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutArchive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutArchive",
        "x-action-name-snake-case": "put_archive",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 885
      }
    },
    "/ciphers/archive": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutArchiveMany",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkArchiveRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkArchiveRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkArchiveRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutArchiveMany",
        "x-action-name-snake-case": "put_archive_many",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 901
      }
    },
    "/ciphers/{id}/delete": {
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true,
        "x-action-name": "PostDelete",
        "x-action-name-snake-case": "post_delete",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 942
      },
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PutDelete",
        "x-action-name-snake-case": "put_delete",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1022
      }
    },
    "/ciphers/{id}/delete-admin": {
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostDeleteAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true,
        "x-action-name": "PostDeleteAdmin",
        "x-action-name-snake-case": "post_delete_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 963
      },
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutDeleteAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PutDeleteAdmin",
        "x-action-name-snake-case": "put_delete_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1034
      }
    },
    "/ciphers/delete": {
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostDeleteMany",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true,
        "x-action-name": "PostDeleteMany",
        "x-action-name-snake-case": "post_delete_many",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 983
      },
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutDeleteMany",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PutDeleteMany",
        "x-action-name-snake-case": "put_delete_many",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1048
      }
    },
    "/ciphers/delete-admin": {
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostDeleteManyAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true,
        "x-action-name": "PostDeleteManyAdmin",
        "x-action-name-snake-case": "post_delete_many_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1016
      },
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutDeleteManyAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkDeleteRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PutDeleteManyAdmin",
        "x-action-name-snake-case": "put_delete_many_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1060
      }
    },
    "/ciphers/{id}/unarchive": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutUnarchive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutUnarchive",
        "x-action-name-snake-case": "put_unarchive",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1085
      }
    },
    "/ciphers/unarchive": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutUnarchiveMany",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkUnarchiveRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkUnarchiveRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkUnarchiveRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutUnarchiveMany",
        "x-action-name-snake-case": "put_unarchive_many",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1105
      }
    },
    "/ciphers/{id}/restore": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutRestore",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutRestore",
        "x-action-name-snake-case": "put_restore",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1132
      }
    },
    "/ciphers/{id}/restore-admin": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutRestoreAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutRestoreAdmin",
        "x-action-name-snake-case": "put_restore_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1150
      }
    },
    "/ciphers/restore": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutRestoreMany",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkRestoreRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkRestoreRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkRestoreRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutRestoreMany",
        "x-action-name-snake-case": "put_restore_many",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1165
      }
    },
    "/ciphers/restore-admin": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutRestoreManyAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkRestoreRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkRestoreRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkRestoreRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutRestoreManyAdmin",
        "x-action-name-snake-case": "put_restore_many_admin",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1181
      }
    },
    "/ciphers/move": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_MoveMany",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkMoveRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkMoveRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkMoveRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "MoveMany",
        "x-action-name-snake-case": "move_many",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1208
      },
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostMoveMany",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkMoveRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkMoveRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkMoveRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true,
        "x-action-name": "PostMoveMany",
        "x-action-name-snake-case": "post_move_many",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1222
      }
    },
    "/ciphers/share": {
      "put": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PutShareMany",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkShareRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkShareRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/CipherBulkShareRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModelListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModelListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CipherMiniResponseModelListResponseModel"
                }
              }
            }
          }
        },
        "x-action-name": "PutShareMany",
        "x-action-name-snake-case": "put_share_many",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
        "x-source-line": 1228
      }
    },
    "/ciphers/purge": {
      "post": {
        "tags": [
          "Ciphers"
        ],
        "operationId": "Ciphers_PostPurge",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            },
            "application/*\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/SecretVerificationRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "x-action-name": "PostPurge",
        "x-action-name-snake-case": "post_purge",
        "x-source-file": "src/Api/Vault/Controllers/CiphersController.cs",
[...]
